<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">
    
    <head>
        
        <meta charset="utf-8">
        
        <title>La Ceiba</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Ejemplo de formulario de acceso basado en HTML5 y CSS">
        <meta name="keywords" content="login,formulariode acceso html">
        <link rel="shortcut icon" href="/sources/img/icons8-oak-tree-16.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <!-- Link hacia el archivo de estilos css -->
        <link rel="stylesheet" href="../sources/css/cliente.css">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://cdn.datatables,net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables,net/1.12.1/js/dataTables.bootstrap.min.js"></script>
        <div id="contenedor">
            <div id="contenedorcentrado">
                <div id="login">
                    <form id="loginform" action="/login">
                        <fieldset>
                            <div class="divinput">
                                <label for="id_detallesalida">ID DETALLE SALIDA</label>
                                <input type="text" name="id_detallesalida" id="id_detallesalida" placeholder="ID" required>
                            </div>
                            <div class="divinput">
                                <label for="id_salida">ID SALIDA</label>
                                <input type="text" name="id_salida" id="id_salida" placeholder="ID SALIDA" required>
                            </div>
                            <div class="divinput">
                                <label for="id_product">ID PRODUCTO</label>
                                <input type="text" name="id_product" id="id_product" placeholder="Direccion" required>
                            </div>
                            <div class="divinput">
                                <label for="fecha">FECHA</label>
                                <input type="text" name="fecha" id="fecha" placeholder="FECHA" required>
                            </div>
                            <div class="divinput">
                                <label for="cantidad">CANTIDAD</label>
                                <input type="text" name="cantidad" id="cantidad" placeholder="CANTIDAD" required>
                            </div>
                            <div class="divbutton">
                                <button type="button">Create</button>
                                <button type="button">Read</button>
                                <button type="button">Update</button>
                                <button type="button">Delete</button>
                                <button type="button">Buscar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div id="contenedortabla">
                <table>
                    <tr>
                        <th>ID DETALLE SALIDA</th>
                        <th>ID SALIDA</th>
                        <th>ID PRODUCTO</th>
                        <th>FECHA</th>
                        <th>CANTIDAD</th>
                    </tr>
                    <tbody id="tabladetallesalida"></tbody>
                    
                </table>
            </div>
        </div>
        
    </body>
</html>