<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La Ceiba</title>
	<link rel="stylesheet" href="/sources/css/estilos.css">
	<link rel="shortcut icon" href="/sources/img/icons8-oak-tree-16.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../sources/css/cliente.css">
</head>
<body>
	<div id="contenedor">
		<div id="contenedorcentrado">
			<div id="login">
				<form id="loginform" action="/updateproducto/<%=dato%>">
					<fieldset>
						<div class="divinput">
							<label for="id_cat">ID CATEGORIA</label>
							<input type="text" name="id_cat" id="id_cat" placeholder="ID CATEGORIA" required>
						</div>
						<div class="divinput">
							<label for="id_prov">ID PROVEEDOR</label>
							<input type="text" name="id_prov" id="id_prov" placeholder="ID PROVEEDOR" required>
						</div>
						<div class="divinput">
							<label for="nombre">NOMBRE</label>
							<input type="text" name="nombre" id="nombre" placeholder="NOMBRE" required>
						</div>
						<div class="divinput">
							<label for="cantidad">CANTIDAD</label>
							<input type="text" name="cantidad" id="cantidad" placeholder="CANTIDAD" required>
						</div>
						<div class="divinput">
							<label for="valor">VALOR</label>
							<input type="text" name="valor" id="valor" placeholder="VALOR" required>
						</div>
						<div class="divbutton">
							<button type="submit" id="create">Actualizar</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>