<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>La Ceiba</title>
    <link rel="shortcut icon" href="/sources/img/icons8-oak-tree-16.png" type="image/x-icon">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../sources/css/main.css'>
    <script src='main.js'></script>
</head>
<body>
<section class="layout">
        <div id="sidebar">
            <nav id="menu">
                <div class="login-box">
                    <img class ="avatar" src="../sources/img/logo.png" alt ="logo de la ceiba">
                </div>
                <ul><li><a href="/gousuario"><img class="icono" src="../sources/img/account_circle_user_icon_255531.png" alt="usuario">Usuarios</a></li></ul>
                <ul><li><a href="/goproducto">Producto</a></li></ul>
                <ul><li><a href="/gocategoria">Categoria</a></li></ul>
            </nav>
        </div>
        <div class="body">
            <form id="loginform" action="/createusuario">
                <fieldset>
                    <legend>CREANDO UN NUEVO USUARIO</legend>
                    <div id="contenedortabla">
                        <table>
                            <tr>
                                <th><label for="id_us">ID USUARIO</label></th>
                                <th><label for="usuario">USUARIO</label></th>
                                <th><label for="passwordd">PASSWORD</label></th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td><input type="text" name="id_us" id="id_us" placeholder="ID USUARIO" required></td>
                                    <td><input type="text" name="usuario" id="usuario" placeholder="USUARIO" required></td>
                                    <td><input type="text" name="passwordd" id="passwordd" placeholder="PASSWORD" required></td>
                                </tr>
                            </tbody>
                            <tfoot><tr><td><button type="submit" id="create">Agregar</button></td></tr></tfoot>
                        </table>
                    </div>
                </fieldset>
            </form>
            </div>
      </section>
</body>
</html>