<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>La Ceiba</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Ejemplo de formulario de acceso basado en HTML5 y CSS">
        <meta name="keywords" content="login,formulariode acceso html">
        <link rel="shortcut icon" href="/sources/img/icons8-oak-tree-16.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../sources/css/proveedor.css">
    </head>
    <body>
        <div id="contenedor">
            <div id="contenedorcentrado">
				<div id="login">
					<form id="loginform" action="/updateproveedor/<%=dato%>">
						<fieldset>
                            <div class="divinput">
								<label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                            </div>
                            <div class="divinput">
								<label for="direccion">Direccion</label>
                                <input type="text" name="direccion" id="direccion" placeholder="Direccion" required>
                            </div>
                            <div class="divinput">
                                <label for="telefono">Telefono</label>
                                <input type="text" name="telefono" id="telefono" placeholder="Telefono" required>
                            </div>
                            <div class="divbutton">
                                <button type="submit" id="create" >Agregar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>