<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='../sources/css/main.css'>
	<script src='main.js'></script>
</head>
<body>
	<section class="layout">
        <div id="sidebar">
            <nav id="menu">
                <div class="login-box"><img class ="avatar" src="../sources/img/logo.png" alt ="logo de la ceiba"></div>
                <ul><li><a href="/gousuario"><img class="icono" src="../sources/img/account_circle_user_icon_255531.png" alt="usuario">Usuarios</a></li></ul>
                <ul><li><a href="/goproducto">Producto</a></li></ul>
                <ul><li><a href="/gocategoria">Categoria</a></li></ul>
            </nav>
        </div>
        <div class="body">
            <form id="loginform" action="/updateproducto/<%=dato%>">
				<fieldset>
					<legend>ACTUALIZANDO UN PRODUCTO</legend>
					<div id="contenedortabla">
						<table>
							<tr>
								<th><label for="nombre">NOMBRE</label></th>
								<th><label for="id_cat">ID CATEGORIA</label></th>
								<th><label for="descripcion">DESCRIPCION</label></th>
								<th><label for="stock">STOCK</label></th>
								<th><label for="minimo">STOCK MINIMO</label></th>
							</tr>
							<tbody>
								<tr>
									<td><input type="text" name="nombre" id="nombre" placeholder="NOMBRE" required></td>
									<td><input type="text" name="id_cat" id="id_cat" placeholder="ID CATEGORIA" required></td>
									<td><input type="text" name="descripcion" id="descripcion" placeholder="DESCRIPCION" required></td>
									<td><input type="text" name="stock" id="stock" placeholder="STOCK" required></td>
									<td><input type="text" name="minimo" id="minimo" placeholder="STOCK MINIMO" required></td>
								</tr>
							</tbody>
							<tfoot><tr><td><button type="submit" id="create">Actualizar</button></td></tr></tfoot>
						</table>
					</div>
				</fieldset>
			</form>
        </div>
      </section>
</body>
</html>