<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Ceiba</title>
    <link rel="shortcut icon" href="/sources/img/icons8-oak-tree-16.png" type="image/x-icon">
    <link rel="stylesheet" href="./sources/css/astyle.css">
</head>
<body>
    <div class="login-box">
        <img class ="avatar" src="./sources/img/logo.png" alt ="logo de la ceiba">
    </div>
    <div class="box">
        <form action="/login">
            <h2>Bienvenido
            </h2>
            <div class="inputBox">
            <input type="text" name="usuar" required>
            <span>usuario</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" name="passw" required>
            <span>contraseña</span>
            <i></i>
        </div>
        <input type="submit" value="Entrar">
     </form>
    </div>
</body>
</html>