<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La Ceiba</title>
	<link rel="stylesheet" href="/sources/css/estilos.css">
	<link rel="shortcut icon" href="sources/img/icons8-oak-tree-16.png" type="image/x-icon">
	
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="logo">
				<h1>La Ceiba</h1>
			</div>
			<nav class="menu">
				<a href="paginas/inicio_de_sesion.html">Login</a>
				<a href="/paginas/nosotros.html">Nosotros</a>
				<a target="_blank" href="https://www.facebook.com/profile.php?id=100066171731818&mibextid=LQQJ4d">Faceboock</a>
				<a href="#">Contacto</a>
			</nav>
		</div>
	</header>
	<div class="capa">
        <div>
			<input type="text" name="id_prov" id="" placeholder="ID" required>
			<input type="text" name="nombre" id="" placeholder="Nombre" required>
			<input type="text" name="Direccion" id="" placeholder="Direccion" required>
			<input type="text" name="telfono" id="" placeholder="Telefono" required>
			<button type="button">Create</button>
			<button type="button">Read</button>
			<button type="button">Update</button>
			<button type="button">Delete</button>
			<button type="button">Buscar</button>
		</div>
    </div>

</body>
</html>